<%- include('partials/header'); -%>
<%- include('partials/navbardashboard'); -%>

<h1>This is top secret</h1>

<div class="user-info">
    <h2>User Information:</h2>
    <p>User ID: <%= user.userId %></p>
    <p>Username: <%= user.username %></p>
    <p>Email: <%= user.email %></p>
</div>
<%- include('partials/footer'); -%>